@import "tailwindcss";

:root {
  --bronze: #E09C36;
  --bronze-light: #e6a94a;
  --bronze-dark: #b5761a;
}

body {
  background: #09090b;
  color: white;
  font-family: "Solomon", sans-serif;
}

html {
  scroll-behavior: smooth;
    font-size: 16px;

}
h1, h2, h3{
  font-family: "Lovelo", sans-serif;
  font-size: 30px;
}

h4{
   font-family: "Lovelo", sans-serif; 
}

.section {
  padding: 4rem 1rem;
}

@media (min-width: 768px) {
  .section {
    padding: 6rem 2rem;
  }
}


body {
  background-color: #18181b; /* zinc-900 */
}

@font-face {
    font-family: "Lovelo";
    src: url("assets/fonts/Lovelo.otf") format("opentype");
}

@font-face {
    font-family: "Rafale";
    src: url("assets/fonts/Rafale.ttf") format("truetype");
}

@font-face {
    font-family: "Solomon";
    src: url("assets/fonts/Solomon.ttf") format("truetype");
}